*{
	margin: 0px;
	padding: 0px;
}

body {
	background-image:url(../imagenes/fondodiseño.png);
}

.sin-padding {
padding:0;
}

.container-fluid { 
 padding-left: 0px;
 padding-right: 0px;
 }

 .row {
 	margin-left:0px;
 	margin-right:0px;
 }

.nav-link {
    padding: 5px;
    margin-right: 50px;
}
.nav-item a {
    color: $color-black;
    text-decoration: none;
    font-size: $font-line1;
    animation-duration: 5s;
    animation-name: aparecer;
}
.nav-item a:hover {
    background-color: $color-black;
    color: $color-white;
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} 

.fondo {
	background-image: url(../imagenes/fondo2.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	height:fit-content;
	margin-top:0px;
	padding-top: 80px;
	padding-bottom: 50px;
}
.contenedorI {
	display: flex;
	flex-direction:column;
	background-color:$color2;
	margin-right:50px; margin-top:50px; margin-bottom:50px;
	padding:20px;
	height: fit-content;

	h2 { 
		color:$color3;
		font-weight:$font-bold;
		font-family:$font; 	
		font-size:$font-title;

	}
	h1 {
		color:$color-black;
		font-family:$font; 
		font-weight:$font-bold;
		font-size:$font-line1;
	}
	p {
		color:$color-black;
		font-family:$font; 
		font-weight:$font-light;
		font-size:$font-line1;
		text-align: justify;
	}
	button {
		background-color:$color-black;
		height:50px;width:150px;
		border-radius: 6px; border: none;
		text-align: center;
		margin: 10px 0 10px 0;

		a { 
			color:$color-white;
			font-family:$font;
			font-size: $font-line2;
			font-weight:$font-bold;
			text-decoration: none;
			padding:20px;
		 }
	}

}
@media all and (min-width: 400px) and (max-width:768px) {
.fondo {
	background-image: url(../imagenes/fondodiseño.png);
	;
}
.contenedorI {
	align-items:center;
	margin-right:40px;margin-top:20px;
	width:100%;


h2 { 
	text-align:center;
	font-size:$font-title;

	}
	h1 {
	font-size:$font-line2;
	text-align:center;
	}
	p {
		font-size:$font-line2;
	}

}
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: $color2;
    padding-top: 15px;
    li {
        list-style: none;
        text-align: center;
        padding: 7px;
        font-family: $font;
        font-weight: $font-medium;
        font-size: $font-line2;
        color: color-black;
    }
    .redes_sociales {
        img {
        	align-items:center;
            width: 30px;
            margin: 15px;
            a:hover {
               transform:scale(1.2);
            }
        }
    }
}

/* Inicio estilo sección SobreMi */
 .seccionsobremi {
 		background-image:url(../imagenes/fondodiseño.png);
 		}

.seccion1 {
	width: 100%;
	margin-top:100px;

	.seccion1__contenedor{
		background-color:$color2;
		display: flex;
		flex-direction:column;
		flex-wrap: wrap;
		justify-content:center;
		align-items: flex-start;
		height: fit-content;
		padding:30px;
		margin-top:40px;

		h3 {
		color:$color-black;
		font-family:$font; 
		font-weight:$font-bold;	
		font-size:$font-subtitle;

		}

		h4 { 
		color:$color-black;
		font-family:$font; 
		font-weight:$font-light;
		font-size:$font-subtitle;
		text-align: justify;
		 }
	}

 }

.seccion2 {
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: flex-start;
	width: 100%; height:fit-content;
	padding:10px;

	.seccion2__contenedor1 {
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	margin-top:30px;
	padding:10px;

		img{ 

		width: 80%;
  		margin:20px;	
		 }
	}

	.seccion2__contenedor2 {
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	height: fit-content; width:60%;
	margin:10px;margin-top:40px; margin-bottom:50px;
	padding:20px;

	h2{
		color:$color3;
		font-family:$font; 
		font-weight:$font-bold;	
		font-size:$font-title;
		text-align:center;
		padding:10px;
		margin:10px;
	}
  
	p {
		color:$color-black;
		font-family:$font; 
		font-weight:$font-medium;
		font-size:$font-line2;
		text-align: justify;
		margin:10px;

	}

 }

@media all and (min-width:400px) and (max-width:768px) {
	.seccionsobremi {
 		
			.seccion1 {
			margin-top:50px;
				.seccion1__contenedor{
				text-align:center;
				h3 {
					font-size:$font-line2;
					}
			}
				}

}
.seccion2__contenedor1 {   
img {
		width:80%;
		margin-left:40px;
	}
}	
.seccion2__contenedor2 {
	width:100%;
	
}
}
}

/* Inicio estilo sección Servicios */

#servicios {
	max-height: 100%; width: 100%;
	margin-top:100px;
	}
.seccionA { 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	.seccionA__Box1{
		display: flex;
		flex-direction:row;
		flex-wrap: wrap;
		justify-content:center;
		align-items: flex-start;
		background-color:$color2;
		height: fit-content; width:30%;
		margin-left:200px; margin-top: 40px; margin-right:40px; margin-bottom: 40px;
		padding:10px;
		animation-duration: 5s;
		animation-name: aparecer;
	}

@keyframes aparecer {
  		 0% {
   	 	 opacity: 0;
   			}
  		 100% {
    	 opacity: 1;
   	  	}
   	 }
	.seccionA__Box2 {
		display: flex;
		flex-direction:row;
		flex-wrap: wrap;
		justify-content:center;
		align-items: flex-start;
		background-color:$color2;
		height:fit-content; width:30%;
		margin-right:150px; margin-top:40px; margin-left:40px; margin-bottom:40px;
		padding:10px;
		animation-duration: 5s;
		animation-name: aparecer;
	}

@keyframes aparecer {
  		 0% {
   	 	 opacity: 0;
   			}
  		 100% {
    	 opacity: 1;
   	  	}
   	 }
	h2 { 

		background-color: white;
		font-family:$font; 
		font-size:$font-subtitle; 
		font-weight:$font-bold;
		padding: 10px;
		margin-top:20px;
		color:$color-black;

	}

	p { 
		font-family:$font;
		font-size: $font-line2;
		font-weight:$font-light;
		color:$color-black;
		margin:10px;
		text-align:justify;
	}

	.btn {
		@include botones;
	
		a {
			color:$color-white;
		}
	}
 
}

.seccionB { 
	display: flex;
	flex-direction:column;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%; height:fit-content;
	margin-top: 50px; margin-bottom:50px;
	}
#accordionExample {
		width: 100%;
		margin-top:40px;

			.header__color{
			background-color:$color2;
			height:30%;

              .btn-link {
	             text-decoration: none;
	             color: white;
	             background-color:$color2;
	             font-weight:$font-bold;
	             margin:10px;
	             	}	

	}
}
@media all and (min-width: 400px) and (max-width:768px) {
	.seccionA { 
	display: flex;
	flex-direction: column;

	.seccionA__Box1{
		width:80%;
		margin:30px;margin-top:10px;
		h2 {
	 	font-size:$font-line1;
	 }
      }
     .seccionA__Box2{
		width:80%;
		margin:30px;margin-top:10px;
		h2 {
	 	font-size:$font-line1;
	 }
      }
      .btn {
      	align-items:center;
      	margin-left: 10px;

      }
}
}

/* Inicio estilo sección Recetas */

#recetas {
 	height: 100%; width:100%;

.Box__title {
	background-color:$color2;
	width: 100%;
	margin-top:50px;
	margin-bottom:50px;

		h2 { 
 	text-align: center;
 	font-family:$font;
 	font-weight: $font-bold;
 	font-size: $font-subtitle;
 	color:$color-black;
 	padding:20px;

  	}
 }

.card {
	background-image:url(../imagenes/fondodiseño.png);
	display:flex;
	margin:10px;
	border-color:$color2;
 img {
 	width:80%;
 	margin:20px; margin-left:30px;
 	align-items:center;
 }

.card-body {
		width:fit-content; height: fit-content; 
	.card-title{
		text-align: center;
 		font-family:$font;
 		font-weight: $font-bold;
 		font-size: $font-subtitle;
 		color:$color-black;
 		padding:5px;
	}
.card-text {
		font-family:$font;
		font-size: $font-line2;
		font-weight:$font-light;
		color:$color-black;
		margin:10px;
		text-align:justify;
}
}
}
}


/* Inicio estilo sección Contacto */

#contacto{
	height:100%; width:100%;

.title {
    	font-family:$font;
    	font-size:$font-title;
    	font-weight:$font-bold;
    	color:$color-black;
    	justify-content:center;
    	margin-top:100px; margin-left:100px;
    	}

.form {
	margin-top: 100px;
	margin-right:100px;
	border-color:$color-black;

	.form-boxes{
		box-sizing:border-box;
	}
	.btn {
		color:$color-white;
		background-color:$color-black;
		height:fit-content;width:100px;
		border-radius: 6px; border: none;
		text-align: center;
		padding: 15px;
		margin: 30px 110px;
		font-family: $font;
		font-size: $font-line2;
		font-weight:$font-bold;
		text-decoration: none;    
	}
}

@media all and (min-width: 400px) and (max-width:768px) {
 .title{
 	text-align:center;
 	font-size:$font-title;
 	margin:10px;
 }
 .form {
 	align-items:center;
 	margin:20px;

 }

}
}

 




