*{
	margin: 0px;
	padding: 0px;
}

.sin-padding {
	padding:0;
}

body {
	background-image:url(../imagenes/fondodiseño.png);
}

#header{
	display:flex;
    flex-direction: row;
    background-color:$color-white;
	height:90px;
	width: 100%;
	align-items: center;
	position: fixed;
	top:0;
	justify-content:flex-end; 
	z-index: 10;


	.header__logo {
	margin-left:30px;
	display: block;
	width:30%;	
	}

   .header__navbar--ul{
	list-style: none;

   		 li {
		display:inline-block;
		margin-right:120px;

		 a {
			display: inline-block;
			color:$color-black;
			text-decoration: none;
			font-size: $font-line1;
			animation-duration: 5s;
			animation-name: aparecer;
		}
		 a :hover {
			background-color:#F5C6AA;
			color:white; 
			font-weight:bold;
	}
}

 @keyframes aparecer {
  		 0% {
   	 	 opacity: 0;
   			}
  		 100% {
    	 opacity: 1;
   	  	}
 }

 }
}

.fondo {
	background-image: url(../imagenes/fondo2.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	height:fit-content;
	margin-top:50px;
	padding-top: 80px;
	padding-bottom: 50px;
}

.contenedorI {
	display: flex;
	flex-direction:column;
	background-color:$color2;
	margin-right:50px; margin-top:50px; margin-bottom:50px;
	padding:20px;
	height: fit-content;

	h2 { 
		color:$color3;
		font-weight:$font-bold;
		font-family:$font; 	
		font-size:$font-title;

	}
	h1 {
		color:$color-black;
		font-family:$font; 
		font-weight:$font-bold;
		font-size:$font-line1;
	}
	p {
		color:$color-black;
		font-family:$font; 
		font-weight:$font-light;
		font-size:$font-line2;
		text-align: justify;
	}
	button {
		background-color:$color-black;
		height:50px;width:150px;
		border-radius: 6px; border: none;
		text-align: center;
		margin: 10px 0 10px 0;

		a { 

			color:$color-white;
			font-family:$font;
			font-size: $font-line2;
			font-weight:$font-bold;
			text-decoration: none;
			padding:20px;
		 }

	}

}

#footer {
	display: flex;
	flex-direction:column;
	flex-wrap: nowrap;
	align-items:center;
	justify-content:center;
	height:150px;
	background-color:$color2;
	padding: 0 20px;

	li {
		display:block;
		text-align: center;
		margin:0;
		padding: 7px;
		font-family: $font; font-weight: $font-medium; font-size:$font-line2;
		color:color-black;
	}
.redes_sociales {
	display:block;
}
}

/* Inicio estilo sección SobreMi */

.seccion1 {
	background-color:$color1;
	width: 100%;
	margin-top:100px;

	.seccion1__contenedor{
		background-color:$color2;
		display: flex;
		flex-direction:column;
		flex-wrap: wrap;
		justify-content:center;
		align-items: flex-start;
		height: fit-content;
		padding:30px;
		margin-top:40px;

		h3 {
		color:$color-black;
		font-family:$font; 
		font-weight:$font-bold;	
		font-size:$font-subtitle;

		}

		h4{ 

		color:$color-black;
		font-family:$font; 
		font-weight:$font-medium;	
		font-size:$font-subtitle;
		}

		h4 { 
		color:$color-black;
		font-family:$font; 
		font-weight:$font-light;
		font-size:$font-line2;
		text-align: justify;
		 }
	}

 }

.seccion2 {
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: flex-start;
	width: 100%; height:fit-content;
	padding:10px;

	.seccion2__contenedor1 {
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	height:fit-content; width:fit-content;
	margin-top:30px;
	padding:10px;

		img{ 

		width: 80%;
  		margin: 40px;	
		 }
	}

	.seccion2__contenedor2 {
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	background-color:$color2;
	height: fit-content; width:60%;
	margin:auto; margin-top:100px;
	padding:20px;

	h3{
		color:$color-white;
		font-family:$font; 
		font-weight:$font-bold;	
		font-size:$font-subtitle;
		align-content: center;
	}
  
	p {
		color:$color-black;
		font-family:$font; 
		font-weight:$font-light;
		font-size:$font-line2;
		text-align: justify;
	}

 }

}

/* Inicio estilo sección Servicios */

#servicios {
	max-height: 100%; width: 100%;
	margin-top:100px;
	}
.seccionA { 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	.seccionA__Box1{
		display: flex;
		flex-direction:row;
		flex-wrap: wrap;
		justify-content:center;
		align-items: flex-start;
		background-color:$color2;
		height: fit-content; width:30%;
		margin-left:200px; margin-top: 40px; margin-right:40px; margin-bottom: 40px;
		padding:10px;
		animation-duration: 5s;
		animation-name: aparecer;
	}

@keyframes aparecer {
  		 0% {
   	 	 opacity: 0;
   			}
  		 100% {
    	 opacity: 1;
   	  	}
   	 }
	.seccionA__Box2 {
		display: flex;
		flex-direction:row;
		flex-wrap: wrap;
		justify-content:center;
		align-items: flex-start;
		background-color:$color2;
		height:fit-content; width:30%;
		margin-right:150px; margin-top:40px; margin-left:40px; margin-bottom:40px;
		padding:10px;
		animation-duration: 5s;
		animation-name: aparecer;
	}

@keyframes aparecer {
  		 0% {
   	 	 opacity: 0;
   			}
  		 100% {
    	 opacity: 1;
   	  	}
   	 }
	h2 { 

		background-color: white;
		font-family:$font; 
		font-size:$font-subtitle; 
		font-weight:$font-bold;
		padding: 10px;
		margin-top:20px;

	}

	p { 
		font-family:$font;
		font-size: $font-line2;
		font-weight:$font-light;
	}

	.btn {
		@include botones;
	}
 
}

.seccionB { 
	display: flex;
	flex-direction:column;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%; height:fit-content;
	margin-top: 50px; margin-bottom:50px;
	}
#accordionExample {
		width: 100%;
		margin-top:40px;

			.header__color{
			background-color:$color2;
			height:30%;


              .btn-link {
	             text-decoration: none;
	             color: white;
	             background-color:$color2;
	             font-weight:$font-bold;
				}				
			}
	}

/* Inicio estilo sección Recetas */

#recetas {
 	height: 100%; width:100%;

.Box__title {
	background-color:$color2;
	width: 100%;
	margin-top:150px;
	margin-bottom:50px;

		h2 { 
 	text-align: center;
 	font-family:$font;
 	font-weight: $font-bold;
 	font-size: $font-subtitle;
 	color:$color-black;
 	padding:20px;

  	}
 }
.Box {
	height: 80%; width: 80%;
 	margin:20px;

 			.img {
					width: 60%;
					margin: 20px 40px;
				}

			 .text {
				text-align: center;
				font-family:$font;
				font-size:$font-line1;
				font-weight:$font-semi-bold;
				color:$color2;
				}				
}


}


/* Inicio estilo sección Contacto */

#contacto{
	height:100%; width:100%;


.title {
    	font-family:$font;
    	font-size:$font-title;
    	font-weight:$font-bold;
    	color:$color-black;
    	justify-content:center;
    	margin-top:100px; margin-left:50px;
    	}

.form {
	margin-top: 100px;
	margin-right:100px;

	.form-boxes{
		box-sizing:border-box;
	}
	.btn {
		color:$color-white;
		background-color:$color-black;
		height:fit-content;width:100px;
		border-radius: 6px; border: none;
		text-align: center;
		padding: 15px;
		margin: 30px 110px;
		font-family: $font;
		font-size: $font-line2;
		font-weight:$font-bold;
		text-decoration: none;    
	}

}

}





